@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.swiper-button-next {
  color: white;
}
.swiper-button-prev {
  color: white;
}
.swiper-pagination-bullet-active {
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 12px !important;
    height: 12px !important;  }
}
